<!DOCTYPE html>
<html>
<head>

    <title>Traffic Detection</title>

    <style>

        body {
            font-family: Arial;
            text-align: center;
            background: #111;
            color: white;
        }

        form {
            margin-top: 50px;
        }

        .box {
            background: #222;
            padding: 20px;
            display: inline-block;
            border-radius: 10px;
        }

    </style>

</head>

<body>

<h1>Traffic Detection System</h1>

<div class="box">

<form method="POST" enctype="multipart/form-data">

<input type="file" name="image" required>

<br><br>

<button type="submit">Detect</button>

</form>

{% if result != None %}

<h2>Vehicles detected: {{ result }}</h2>

{% endif %}

</div>

</body>
</html>
